/* html, body and main id of first div are given respective styles so that the content covers the whole screen*/
html,body{
    height:100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: "Ubuntu", sans-serif;
}
#main{
    height: 100%;
    width: 100%;
}
#logo{
    height: 60px;
    width: 60px;
}
.socialMedia{
    height:20px;
    width: 22px;
}
header, footer{
    height:100%;
    background-color: rosybrown;
    width:100%;
    margin: 0%;
    position: fixed;
    height: auto;
    overflow: auto;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right:0;
    left:0;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    right:0;
    left:0;
    bottom: 0;
}
a{
    text-decoration: none;
    color: black;
}
/*header content css */
#img{
    margin-left: 1%;
}
#login-div{
    margin-right: 1%;
}

/* #login{
    height: 100%;
    vertical-align: middle;
    float: right;
    padding: 4px;
} */
/* footer content css */
#copyright{
    font-size: 10px;
}
#contact-us{
    margin-left: 2%;
}
#smicons{
    margin-right: 2%;
}
 #content{
    display: flex;
    flex-direction: column;
} 