#radisson{
    height: 500px;
    width: 500px;
}
#image{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
}
#booking-details{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}
#hotel-description{
    margin: 1% 4% 2% 4%;
}