.cityImgContainer{
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-evenly;
}
.cityImages{
    height:150px;
    width:150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px grey;
}
.cityImages:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
#search-bar{
    height: 380px;
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#city-search{
    border: 1px transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
}
#cityimg-viewmore{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
#view-more{
    margin:0 auto;
    margin-bottom: 3%;
}