.hotelImages{
    height: 200px;
    width: 250px;
}
#content{
    margin-top: 7%;
    position: relative;
    height: 100%;
    width: 100%;
}
.hotel-img-description{
    width: 40%;
    background-color: lightgray;
    margin:2%;
    display: flex;
    margin: 4% 5% 0% 5%; 
    float: left;
    justify-content: start;
    align-content: center;
}
#list{
    font-weight: bold;
    text-align:center;
}
ul, li{
    display: inline-block;
    text-align: center;
}
.hotel-img-description:hover {
    background-color: rosybrown;
}
#pills-tab {
    justify-content: center;
}
.checked{
    color:orange;
}