#loader-img{
    height: 70px;
    width: 70px;
    border: 12px solid;
    border-color: #444444 #f3f3f3 #f3f3f3 #f3f3f3;
    border-radius: 50%;
    margin: auto;
    animation: spin 1s linear infinite; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
}
#loader-parent{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
}